#contenidoPrincipal {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background: rgba(20, 20, 50, 0.9);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e94560;
}

#contenidoPrincipal h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  border: 1px solid #e94560;
  padding: 15px;
  border-radius: 10px;
  background: rgba(15, 15, 40, 0.8);
}

legend {
  font-weight: bold;
  color: #e94560;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 15px;
}

fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

label {
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[list],
input[type="file"] {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e94560;
  background: rgba(10, 10, 30, 0.9);
  color: whitesmoke;
  margin-top: 4px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.botonIndividual {
  padding: 10px 20px;
  background: #e94560;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.botonIndividual:hover {
  background: #e94560;
  transform: translateY(-2px);
}
