#contenidoNoticias {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background: rgba(20, 20, 50, 0.9);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e94560;
  color: whitesmoke;
}

#contenidoNoticias h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.noticia {
  background: rgba(15, 15, 40, 0.8);
  border-left: 4px solid #e94560;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.anuncios {
  display: flex;
  gap: 300px;
  text-align: center;
  margin: 30px;
}

.anuncio {
  background: #e94560;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.animado {
  animation: parpadeo 1.2s infinite alternate;
}

@keyframes parpadeo {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

.volver {
  text-align: center;
  margin-top: 30px;
}

.botonVolver {
  padding: 15px;
  background: #e94560;
  color: whitesmoke;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.botonVolver:hover {
  background: red;
  transform: translateY(-2px);
}
